### Virtual Environment
.venv
.python-version
### Python Cache
__pycache__/
*.py[cod]
*$py.class
### Jupyter Notebook Checkpoints
.ipynb_checkpoints
### VSCode Settings
.vscode/
### MacOS Files
.DS_Store
/data/
/outputs/
/lightning_logs/
/mlruns/