### Virtual Environment
.venv

### Python Cache
__pycache__/
*.py[cod]
*$py.class
### Jupyter Notebook Checkpoints
.ipynb_checkpoints
### VSCode Settings
.vscode/
### MacOS Files
.DS_Store
/data/
/outputs/
/lightning_logs/
/mlruns/

# Ignore everything under exps/
experiments/*

# But keep the README
!experiments/experiments_README.md

outputs/

# Ignore everything under mlruns/
.mlruns/*

docs/_build/
